Input {
    width: 40%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

.button {
    background-color: rgb(66, 70, 66); /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}